.container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.gradient-card {
  background: linear-gradient(to right, #f7f9fc, #e9edfb);
  margin: 0 0 14px 0;
  border: 1px solid #8da5f3;
  border-radius: 16px;
  width: 300px;
}